<div class="content" role="main">

  <div class="header">
    <h1>Top 100 Albums</h1>
    <p class="description">Here, you get an overview of the 100 albums that iTunes users most often listened to.
      Use the search to find out the respective album.</p>

    <form class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Search an album</mat-label>
        <label>
          <input matInput placeholder="Search..." value="" [(ngModel)]="searchTerm" (keyup)="search()" name="search">
        </label>
      </mat-form-field>
    </form>
  </div>

  <div class="albums">

    <!-- Display all albums with ngFor -->
    <mat-card *ngFor="let album of albumsDisplayed; let i = index">
      <button class="album-placement" mat-mini-fab color="primary" aria-label=" icon">
        {{i + 1}}.
      </button>
      <h3><b>{{album['im:name'].label}}</b></h3>
      <a href="{{album.id.label}}"><img src="{{album['im:image'][2].label}}" alt="Image of the album"></a>
      <p>Number of Songs: {{album['im:itemCount'].label}}</p>
      <p>Price: {{album['im:price'].label}}</p>
      <p>{{album.title.label}}</p>
      <p>Artist: {{album['im:artist'].label}}</p>
      <p>Category: {{album.category.attributes.label}}</p>
      <p>Release Date: {{album['im:releaseDate'].attributes.label}}</p>
      <a href="{{album.id.label}}">
        <button mat-raised-button color="primary">Go to album</button>
      </a>
    </mat-card>
  </div>
</div>
